<!DOCTYPE html>
<html>
  
  <head>
    <title> Pranavs Webpage </title>
    <style>
      h3{
        font-size:40px;
        font-family: Trebuchet MS;
        font-weight: normal;
        text-align: center;
      }
      p{
        font-size:20px;
        font-family: Trebuchet MS;
        font-weight: normal
      }
      li{
        font-size:20px;
        font-family: Trebuchet MS;
        font-weight: normal
      }
      #banner{
        object-fit:cover;
      }
      #container{
        max-width:720px;
        margin: 0 auto 0 auto;
      }
      
      
    </style>
  </head>
  <body>
    <div id="container">
    <h3>Greetings welcome to everything about Sai Pranav!</h3>
    <div style="text-align: center;">
      <img id="banner" src="https://saipranavsflaskwebsite.saipranav11.repl.co/static/friends.jpg" height="280" alt="MISSING PIC"></div>

    
    <h3>Introduction</h3>
    <p>Hi there, my name is <b>Sai Pranav Bandla</b>, and I am excited to share a bit about myself with you. I am passionate about many things, including web development, basketball, and anime. In my free time, you can often find me coding, shooting hoops, or binge-watching my favorite anime shows, such as <em>One Piece, Naruto, and Vinland Saga.</em></p>
    
    <p>I also enjoy cooking, particularly Indian Curries. Basketball has been a significant part of my life, and I am a huge fan of Stecenterry.</p>
      <div style="text-align: center;"><img src="https://basketnews.com/image-358106-any818x650.jpg" height = 320></div>
     <p> I admire his work ethic, dedication, and the way he approaches the game. His passion for basketball is something that resonates with me, as I apply that same level of dedication to my coding projects. I believe that coding, like basketball, requires practice, patience, and persistence to become proficient.</p>
    <h3>Skills</h3>
    <p>As a web developer, I possess an array of skills that enable me to create dynamic, user-friendly, and visually appealing websites. My proficiency in HTML, CSS, and JavaScript has allowed me to design responsive websites that are accessible across multiple devices. I am also experienced in using frameworks such as React and Angular, which has given me the ability to create interactive and engaging web applications.

Additionally, I am well-versed in <ul><li>backend technologies such as Node.js and MongoDB, enabling me to develop robust web applications with efficient server-side functionality.</li> <li>In working with various APIs, integrating payment gateways</li> <li>Data visualization libraries to present data in a clear and concise manner</li>.</ul></p>

<p>My passion for coding, combined with my expertise in web development, has led me to pursue projects that challenge me and allow me to push my limits. I am always eager to learn and grow, and I look forward to creating websites and applications that deliver outstanding user experiences.</p>
  </div>
  </body>
</html>