<!DOCTYPE html>
<html>
  
  <head>
    <title> Pranavs Webpage </title>
     <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      #banner{
        height: 360px;
        object-fit: cover
      }
      h5{
        font-size: 50px;
      }
    </style>
  
    
  </head>
  <body>
    {%include 'nav.html'%}
    <div class="container">
    <h5 class="text-center mt-2 mb-2">Greetings welcome to everything about Sai Pranav!</h5>
      <div style="text-align:center">
      <img class="img-fluid" id="banner" src="https://saipranavsflaskwebsite.saipranav11.repl.co/static/friends.jpg" height="280" alt="MISSING PIC"></div>

    
    <h3 class="text-center mt-2 mb-2">Introduction</h3>
    <div class="row" style="margin-bottom:16px">
      <div>
      <p>Hi there, my name is <b>Sai Pranav Bandla</b>, and I am excited to share a bit about myself with you. I am passionate about many things, including web development, basketball, and anime. In my free time, you can often find me coding, shooting hoops, or binge-watching my favorite anime shows, such as <em>One Piece, Naruto, and Vinland Saga.</em></p>
    </div>
<!--      <div class="d-none d-md-block col-md-6">
       <img src="/static/sai_banana.jpg" style="height:320px; border-radius=4px">
     </div>  -->
    </div>
    <p>I also enjoy cooking, particularly Indian Curries. Basketball has been a significant part of my life, and I am a huge fan of Steph Curry.</p>
      <div class="text-center mt-2 mb-2"><img src="https://basketnews.com/image-358106-any818x650.jpg" height = 320></div>
     <p> I admire his work ethic, dedication, and the way he approaches the game. His passion for basketball is something that resonates with me, as I apply that same level of dedication to my coding projects. I believe that coding, like basketball, requires practice, patience, and persistence to become proficient.</p>
    <h3 class="text-center mt-2 mb-2">Skills</h3>
    <p>As a web developer, I possess an array of skills that enable me to create dynamic, user-friendly, and visually appealing websites. My proficiency in HTML, CSS, and JavaScript has allowed me to design responsive websites that are accessible across multiple devices. I am also experienced in using frameworks such as React and Angular, which has given me the ability to create interactive and engaging web applications.

Additionally, I am well-versed in <ul><li>Backend technologies such as Node.js and MongoDB, enabling me to develop robust web applications with efficient server-side functionality.</li> <li>Various APIs, integrating payment gateways</li> <li>Data visualization libraries to present data in a clear and concise manner</li></ul></p>

<p>My passion for coding, combined with my expertise in web development, has led me to pursue projects that challenge me and allow me to push my limits. I am always eager to learn and grow, and I look forward to creating websites and applications that deliver outstanding user experiences.</p>
<div class="text-center mt-2 mb-2">
<p>
  Jobs that I would love to do!
  {%for job in jobs%}
  <div><ul style="color:rgb(120,120,120)"><li><b>{{job}}</b></li></ul></div>
  {%endfor%}
</p> 
</div>  
      <h2 class="text-center mt-2 mb-2">Get in touch!</h2>
      <div class="text-center mt-2 mb-2"><a type="button" class="btn btn-primary btn-lg" href="mailto:sbandla@stevens.edu?subject=Got%20your%20email%20from%20your%20website&body=%0D%0A">Contact Me</a></div>
  </div>
  {%include 'footer.html'%}  
  </body>
</html>